* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: auto;

}


/* Sidebar starts */
.sidebar {
    width: 20%;
    background-color: black;
    color: white;
    height: 100%;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.uper-side {
    width: 100%;
    height: auto;
    align-items: center;
}

.uper-side img {
    width: 80%;
    height: auto;
    border: 2px solid crimson;
    margin: 10% 0 5% 0;
    border-radius: 50%;
}

.name {
    height: auto;
    margin-bottom: 5%;
}

#name {
    color: crimson;

}

.lower-side {
    align-items: center;
    margin: 20% 0 30% 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.buttons {
    width: 80%;
    background-color: rgb(57, 55, 55);
    padding: 5px 7px 5px 7px;
    margin: 10px 10px 0px 8px;
    border-radius: 50px;
}

.lower-side a {
    text-decoration: none;
    color: white;
}

.lower-side a:hover {
    background-color: crimson;
    transition: 0.5s ease;
    transform: scale(1.1);
}

/* Sidebar ends */

/* Content starts */
.content {
    align-items: center;
    margin-left: 20%;
    background-color: rgb(25, 25, 25);
    color: white;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    font-family: 'Josefin Sans', sans-serif;
}

.about,
.education,
.work,
.skills,
.projects,
.accomplishments,
.certificates,
.contact {
    width: 90%;
}

.heading {
    margin-top: 50px;
    padding: 10px;
    background-color: crimson;
    font-weight: bold;
    font-size: 140%;
    border-radius: 5px;
}

.inner-content {
    margin: 20px 0px 20px 0px;
    background-color: rgb(45, 43, 43);
    height: auto;
    border-radius: 5px;
    padding: 40px;
}

#about {
    font-size: 130%;
}

#list-items li {
    margin: 10px;
}

#c-link {
    color: crimson;
    text-decoration: none;
}

#head {
    font-weight: bold;
    color: crimson;
    font-size: 25px;
}

#desc {
    padding: 10px;
}

.high-name {
    color: crimson;
    font-weight: bold;
}

.tab1 {
    display: inline-block;
    margin-left: 83px;
}

.tab2 {
    margin-left: 73px;
}

/* Big screen Intro */
.intro {
    height: auto;
    width: 100%;
}

.intro-desc {
    margin-top: 15%;
    margin-left: 10%;
    font-family: none;
}

.intro-desc h1 {
    font-size: 90px;
}

.intro-desc {
    font-size: 40px;
}

#resume {
    margin-top: 30px;
    margin-bottom: 15%;
    margin-left: 10%;
}

#resume a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: crimson;
    font-size: 25px;
    border-radius: 10px;
}

/* Small screen intro */
.intro-small {
    width: 100%;
    height: auto;
    text-align: center;
}

.intro-small img {
    width: 60%;
    height: auto;
    border: 2px solid crimson;
    margin: 10% 20% 0 20%;
    border-radius: 50%;
}

.small-name {
    margin-top: 10%;
    font-size: 30px;
}

.front-icons {
    margin: 10px;
    padding: 5px;
}

#resumepdf {
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

#resumeicon {
    font-size: 210%;
}

/* List style */
ul {
    list-style: none;
}

ul #tick:before {
    content: '✔';
    padding-right: 5px;
    color: green;
}

ul #dot:before {
    content: '👉';
    padding-right: 5px;
    color: yellow;
}

#time:before {
    content: '⏳';
    padding-right: 5px;
    padding-left: 10px;
}

#marks:before {
    content: '🏅';
    padding-right: 5px;
    padding-left: 10px;
}

#subjects:before {
    content: '📚';
    padding-right: 5px;
    padding-left: 10px;
}

#school:before {
    content: '🏫';
    padding-right: 5px;
    padding-left: 10px;
}

.degree:before {
    content: '🎓';
    padding-right: 5px;
}

/* Contact me */

.links {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.links a {
    text-decoration: none;
    font-size: 25px;
    height: 25px;
    width: 25px;
    padding: 5px;
    text-align: center;
    margin: 15px 15px 15px 0;
}

.links a:hover {
    transform: scale(1.3);
    transition: 0.3s ease;
}

#link-name {
    font-size: 120%;
}

#facebook {
    color: white;
    background-color: #3b5998;
}

#instagram {
    color: white;
    background: #bb0000;
}

#linkedin {
    color: white;
    background: #3b5998;
}

#google {
    color: rgb(184, 28, 28);
    font-size: 30px;
}

/* Contact me */

footer {
    height: auto;
    width: 100%;
    margin-top: 50px;
    padding: 10px 0 10px 0;
    font-family: 'Josefin sans', sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}


/* Media queries starts */
@media screen and (max-width: 1000px) {
    .sidebar {
        display: none;
        width: 0;
    }

    .content {
        font-size: 100%;
        width: 100%;
        margin-left: 0;
    }

    #head {
        font-size: 120%;
    }

    footer {
        font-size: 90%;
    }

    #about {
        font-size: 130%;
    }

    .intro {
        display: none;
    }

    .inner-content {
        padding: 20px;
    }



}

@media screen and (max-width: 800px) {
    .full {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .half {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .intro-small {
        display: none;
    }
}

/* Media queries ends */
